// out: style.css, compress: false, sourceMap: true

@font-face {
    font-family: BebasNeueRegular;
    src: url('fonts/BebasNeue Regular.otf');
}

@font-face {
    font-family: MyriadProRegular;
    src: url('fonts/MyriadPro-Regular.otf');
}


* {
    margin: 0;
    padding: 0;
}


/* Basic body styling. */

body {
    height: 100vh;
    display: block
    color: white;
    background: -webkit-linear-gradient(left top, #001422, #054a5c);
    padding: 2em;
    font: 62.5% "Avenir";
}

img.belfast {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* The CSS for the form. */

#locationForm {
    position: absolute; 
    z-index: 100;
    width: 90%;
    max-width: 60em;
    font-family: MyriadProRegular;
    font-size: 4em;
    transition: 0.3s ease-out;
    
    &.top-left {
        top: 5%;
        left: 5%;
        font-size: 4em;
    }
    
    &.centred {
        top: 33%;
        left: 45%;
        
        font-size: 8em;
    }
    
    button {
        float: left;
        vertical-align: middle;
        width: 2.3em;
        cursor: pointer;
        padding: 0.25em;
        font-size: 45%;
        box-sizing: border-box;
        background: transparent;
        border: none;
        border-radius: 6px;
        outline: none;
    }
    
    input[type="text"] {
        color: white;
        display: block;
        font-size: 60%;
        padding-top: 0.1em;
        background-color: transparent;
        border: none;
    }
    
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: rgba(255,255,255,0.6);   
    }
}

textarea:focus, input:focus{
    outline: 0;
}

.error {
    border: 0.15em solid rgba(204, 51, 51, 0.75) !important;	
}

#weather {
    transition: all 0.3s ease-in 0.1s;
    
    &.show {
        opacity: 1;
        transform: translateY(0px);
    }
    
    &.hide {
        opacity: 0;
        transform: translateY(10px);
    }
    
    .icon {
        width: 90%;
        max-width: 30em;
        margin: 16em auto;
        margin-bottom: 0;
        text-align: center;
    }
    
    p.quote {
        width: 30%;
        font-family: BebasNeueRegular;
        color: white;
        margin-bottom: 0;
        font-size: 10em;
        font-weight: bold;
        float: left;
    }
}


